<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table>
        <h1>Users info
          <h1> <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg">
            <table class="table">
              <thead>
                <tr>
                  <th>name</th>
                  <th>introduction</th>
                </tr>
              </thead>
              <tbody>
                <%= link_to edit_user_path(@user),class: "btn btn-block btn-outline-secondary", type: "button" do %> <span class="fas fa-user-cog" aria-hidden="true" 　fa-100x></span>
                  <% end %>
                    <tr>
                      <td>
                        <%= @user.name %>
                      </td>
                      <td>
                        <%= @user.introduction %>
                      </td>
                    </tr>
              </tbody>
            </table>
            <h1>New book</h1>
            <%= form_with model: @book,url: books_path, local:true do |f| %>
              <% if @book.errors.any? %>
                <%= @book.errors.count %>件のerror
                  <% @book.errors.full_messages.each do |message| %>
                    <%= message %>
                      <% end %>
                        <% end %>
                          <h4>Title</h4>
                          <%= f.text_field :title %>
                            <h4>Opinion</h4>
                            <%= f.text_field :body %>
                              <%= f.submit 'Create Book' %>
                                <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <table>
        <h1>User
          <h1>
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                  </td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= link_to "Show", user_path(user) %>
                  </td>
                </tr>
                <% end %>
            </tbody>
      </table>
      
    </div>
    <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>
  </div>
</div>