<!DOCTYPE html>
<html>
<head>
	<title>Bookers2</title><%= csrf_meta_tags %><%= csp_meta_tag %><%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %><%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">
</head>
<body>
	<%if user_signed_in? %>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/"><span>Bookers</span></a> <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<ul class="navbar-nav ml-auto">
						<li><%= link_to  user_path(current_user) do %><span class="fas fa-home nav-item nav-link active"></span> Home <%end %></li>
						<li><%= link_to  href="/users" do %><span class="fas fa-users nav-item nav-link"></span> Users <%end %></li>
						<li><%= link_to  href="/books" do %><span class="fas fa-book-open nav-item nav-link"></span> Books <%end %></li>
						<li><%= link_to  href="/users/sign_out" do %><span class="fas fa-sign-out-alt nav-item nav-link disabled"></span> logout <%end %></li>
					</ul>
				</div>
			</div>
		</nav>
	</header><%else %>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/"><span>Bookers</span></a> <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<ul class="navbar-nav ml-auto">
						<li><%= link_to  href="/" do %><span class=" fas fa-home nav-link active"></span> Home <%end %></li>
						<li><%= link_to  href="/home/about" do %><span class="fas fa-link nav-item nav-link"></span> About <%end %></li>
						<li><%= link_to  href="/users/sign_up" do %><span class="fas fa-user-plus nav-item nav-link"></span> Sign up <%end %></li>
						<li><%= link_to  href="/users/sign_in" do %><span class="fas fa-sign-in-alt nav-item nav-link disabled"></span> login <%end %></li>
					</ul>
				</div>
			</div>
		</nav>
	</header><%end %><%= yield %>
</body>
</html>
